<center>
<div class="container col-md-4">
</div>
<div class="container col-md-4">
<h1 style="font-family: 'Architects Daughter', cursive;">Bog Page</h1>
<h2 style="font-family: 'Architects Daughter', cursive;"><%=@msg%></h2>



<br>
<div style="background-color: rgba(0,0,0,.6); padding: 15px; border-color: white 3px">
<% @creatures.each do |p| %>

  <p><%=link_to p.name, p, :style=>"font-family: 'Architects Daughter', cursive;", :style=>"font-size: 22px;"%></p>
  <p><%#link to "Edit", edit_creature_path(creature)%></p>
<% end %>
</div>
<br><br>
<%= link_to "Add a new creature", new_creature_path, :class=>"btn btn-primary", :style=>"font-family: 'Architects Daughter', cursive;", :style=>"background-color: black" %>
</div>
</center>
<div class="container col-md-4">
</div>
