<h1 style="font-family: 'Architects Daughter', cursive;">Creature Details</h1>

<p>Name: <%= @creature.name %></p>
<p>Descrition: <%= @creature.description %> </p>

<%= link_to "Edit creature", edit_creature_path, :class=>"btn btn-primary" %>