  <center>
<div class="container col-md-4">
</div>
<div class="container col-md-4">
<h1 style="font-family: 'Architects Daughter', cursive;">Create a Tag</h1>
<!-- <form action="/planets" method="post">
  <input type="text" name="planet[name]" placeholder="Create a planet">
  <input type="submit" class="btn btn-primary">
  <%= token_tag form_authenticity_token %>
</form> -->

<div class="row">
  <div class="col-md-4">
    <%= bootstrap_form_for @tag do |f| %>
    <%= f.text_field :name, :placeholder =>"Enter a Tag", :style=>"width: 200px"%>
    <%= f.primary :class=>"btn btn-primary", :style=>"font-family: 'Architects Daughter', cursive;", :style=>"background-color: black" %>
    <% end %>
  </div>
</div>
</center>