body{
  background-image: image-url('bog.jpg');
  background-size: cover;
}

h1{
  font-family: 'Architects Daughter', cursive;
}

p{
  font-family: 'Architects Daughter', cursive;
  font-size: 23px;
  color: white;
}
/*.navBar{
  background-color: black;
  color: white;
}*/
